<header #header>
  <h2>Afaya - Image Description APP</h2>
  <h4>Using Describe of Azure Cognitive Services</h4>
</header>

<section id="principalSection" class="container">
  <router-outlet></router-outlet>
</section>

<footer id="footerIndex">
  <p>
    <span class="subtitle">
      Contacto:
    </span>
    <span>
      <a href="mailto:afayatech@gmail.com" target="_blank">
        <img alt="Icono email" src="../assets/icons/013-mail.png" class="icon">
        <ng-container>afayatech@gmail.com</ng-container>
      </a>
    </span>
    <span>
      <a href="https://github.com/Afaya" target="_blank">
        <img alt="Icono email" src="../assets/app-images/Octocat.png" class="icon">
        <ng-container>github</ng-container>
      </a>
    </span>
    <span>
      <a href="https://twitter.com/Afaya_tech" target="_blank">
        <img alt="Icono de twitter dentro enlace acceso a twitter" src="../assets/icons/twitter.png" class="icon">
        <ng-container>@Afaya_tech</ng-container>
      </a>
    </span>
  </p>
</footer>